{% load static %}


<!-- About section -->
<section class="about-section" style="padding-top: 10px; padding-bottom: 10px;">
	<div class="container">


		  <ul class="nav justify-content-center" style="border: 2px solid black;">
			<li class="nav-item">
			  <a class="nav-link active" href="{% url 'website:account' %}">Account</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="{% url 'website:profile' %}">Profile</a>
			  </li>
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'website:userkyc' %}">KYC</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'website:cryptos' %}">Cryptos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'website:watchlist' %}">Watch List</a>
			  </li>
			<!-- <li class="nav-item">
			  <a class="nav-link disabled" href="{% url 'website:profile' %}">Disabled</a>
			</li> -->
		  </ul>


	</div>
</section>
